body{
    background-color: rgb(224, 170, 170);
    color: rgb(105, 87, 223);
    font-family:'Times New Roman', Times, serif
}

button{
    background-color: rgb(97, 191, 194);
    font-size: medium;
    border-radius: .4;
}

ul{
    list-style-type: none;
    margin: 5px; padding: 0px;
    overflow: hidden;
   
}